$primary-color: #fe7663;
$primary-background-color: #fcd5d0;

$secondary-color: #e7008D;
$secondary-background-color: #fcdde5;

$text-color: #555555;
$gray-background: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

$input-color: silver;